# Firebase Web SDK
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDOBgjvjlrzj7kha48_C8rgFHaEvOfEkkk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=promptwars-206f7.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=promptwars-206f7
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=promptwars-206f7.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=987259707574
NEXT_PUBLIC_FIREBASE_APP_ID=1:987259707574:web:a2308fdedaff2528040617
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-W242EVKNTK

# Google Maps / Places API
GOOGLE_MAPS_API_KEY=your-google-maps-api-key
